import React, { Component } from 'react';
{{#if wantModule}}
import { connect } from 'react-redux';
import { bindActionCreators } from 'redux';
import { actions } from './../modules';
{{/if}}

class {{ properCase name }} extends Component { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      {{#if wantSCSSModules}}
      <div className={{curly true}}styles.{{ camelCase name }}{{curly}}>
      {{else}}
      <div>
      {{/if}}
      </div>
    );
  }
}

{{#if wantModule}}
// mapStateToProps :: {State} -> {Props}
const mapStateToProps = (state) => ({
  // myProp: state.myProp,
});

// mapDispatchToProps :: Dispatch -> {Action}
const mapDispatchToProps = (dispatch) => ({
  actions: bindActionCreators(
    actions,
    dispatch
  ),
});
{{/if}}

const Container = {{ properCase name }};


{{#if wantModule}}
export default connect(
  mapStateToProps,
  mapDispatchToProps
)(Container);
{{else}}
export default Container;
{{/if}}
